body {
    background-image: url("../../../public/images/background.jpg");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #01181e;
    color: white;
}

header {
    background-color: #01181e;
}

.nav-link {
    color: white;
}

.ui .form .field label {
    color: white;
}

.ui .form {
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .1);
}

.ui .basic button {
    background: #01181e !important;
}

.ui .card {
    margin: 20px;
    margin-top: 80px;
    height: 400px;
}

.ui .card .extra span {
    margin-top: 5px;
}

.ui .card .content {
    display: flex;
    flex-direction: column;
}

.ui .card .extra {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    width: 100%;
}

.ui .link .three {
    width: 800px;
}

.container {
    align-items: center;
    text-align: center;
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
    color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
    color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
    background-color: #cbbcb1;
}

.mask-custom {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .15);
}

.navbar-brand {
    font-size: 1.75rem;
    letter-spacing: 3px;
}

.intro-box {
    margin-top: 100px;
    color: white;
    display: flex;
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, .15);
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1), 0 6px 20px 0 rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 20px;
    width: 70%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nft {
    color: white;
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, .15);
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1), 0 6px 20px 0 rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 30px;
    width: 90%;
    margin: 70px;
}

.nft-display {
    color: white;
    display: flex;

    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.intro-box h1 {
    font-weight: bold;
}

.intro-box p {
    font-size: x-large;
    font-weight: bold;
    width: 60%;
    text-align: center;
}

.buttons button {
    padding: 15px;
    border-radius: 20px;
    color: white;
    background-color: #ff5b86;
    font-weight: bold;
    border-color: rgba(255, 255, 255, .2);
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    margin: 20px;
}

.buttons button:hover {
    box-shadow: 0 10px 20px 0 rgba(255, 255, 255, 0.5), 0 18px 33px 0 rgba(255, 255, 255, 0.19);
    margin-top: 17px;
    transition: 0.2s;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.nft-display p {
    font-size: medium;
}

.nft-display h2 {
    font-size: x-large;
}

.nft-display-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nft-display-content h1 {
    margin: 15px;
}

.nft-display-content h2 {
    margin: 15px;
    width: 70%;
}

.nft-display-content p {
    margin: 15px;
    width: 50%;
}

.nft-display-carousel {
    width: 45%;
    border-radius: 10px;
    padding: 10px;
}

.nft-display-carousel img {
    border-radius: 30px;
    width: 300px;
    height: 750px;
    transition: 0.2s;
}

.nft-display-carousel a {
    transition: 0.2s;
}

.button-nft {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.button-navbar button {
    border-radius: 20px;
    color: white;
    background-color: #ff5b86;
    font-weight: bold;
    padding: 5px;
    width: 12vw;
    border-color: rgba(255, 255, 255, .2);
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.5), 0 6px 10px 0 rgba(255, 255, 255, 0.19);
}

.footer {
    color: aliceblue;
    height: 15vh;
}

.footer hr {
    width: 90%;
}

.footer p {
    margin-top: 40px;
}